---
import Links from "../components/Links.astro";
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import About from "../components/About.astro";
import Modal from "../components/Modal.astro";
---

<Layout title="Welcome to my Portfolio | Jamil Loreto">
  <main class="container">
    <section class="primary">
      <article class="profile">
        <img
          src="https://avatars.githubusercontent.com/u/100628349?v=4"
          alt="Jamil"
          class="image"
        />
        <h1 class="name">Jamil Loreto</h1>
        <h2 class="rol">Web Developer FullStack</h2>
      </article>
      <Links />
      <br />
      <Contact />
    </section>

    <About />
  </main>
</Layout>

<style>
  .container {
    background-color: #000;
  }

  .profile {
    text-align: center;
    padding: 1rem;
  }

  .image {
    border-radius: 1rem;
    width: 280px;
    height: 280px;
    object-fit: cover;
  }

  .name {
    font-size: x-large;
    font-weight: 600;
    margin: 0.5rem 0;
  }

  @media (min-width: 1024px) {
    .container {
      display: grid;
      grid-template-columns: 380px 1fr;
    }
  }
</style>
