---
interface Props {
  title: string;
  text: string;
  span: string;
}

const { title, span, text } = Astro.props;
---

<div class="card">
  <h3 class="title">{title}</h3>
  <p class="text">{text}</p>
  <span class="span">{span}</span>
</div>

<style>
  .card {
    padding: 1.5rem;
    border: 2px solid var(--bg-color-primary);
    border-radius: 0.5rem;
  }

  .title {
    font-size: large;
    font-weight: 600;
  }

  .text {
    margin: 0.5rem 0;
  }

  .span {
    color: var(--color-third);
  }
</style>
